body {
    background-color: #EDDDD0;
}

.center-align {
    background-color: #A6CAD4;
    text-align: center;
}



h1 {
    font-family: Montserrat, sans-serif;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-menu a {
    padding: 5px;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.span-3 {
    grid-column: 1 / span 3;
}

.span-2 {
    grid-column: 1 / span 2;
}

img {
    padding: 10px;
}

main p {
    padding: 5px;
}