body {
    background-color: #EDDDD0;
}

.center-align {
    background-color: #A6CAD4;
    text-align: center;
}



h1 {
    font-family: Montserrat, sans-serif;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu a {
    padding: 5px;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.span-3 {
    grid-column: 1 / span 3;
}

.span-2 {
    grid-column: 1 / span 2;
}

img {
    padding: 10px;
}

main p {
    padding: 0px;
}

header {
    margin: 1rem 0;
}

footer {
    margin: 1rem 0;
}

.container-courses {
    display: grid;
    grid-template-columns: 1fr;
}

.container-courses > * {
    margin-bottom: 5px;
}

.container-courses > *:first-child {
    margin-top: 0px;
}

@media screen and (min-width: 600px) {
    .nav-menu {
        flex-direction: row;
        justify-content: center;
    }

    .container-courses {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 50px 50px;
    }

    .container-courses > *:last-child {
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
    }
}