body {
    background-color: beige;
}

h1 {
    color: brown;
}

nav {
    background-color: lightblue;
    text-align: center;
    list-style-position: inside;
}

.indexheading {
    font-family: Montserrat, sans-serif;
}